:root {
    --color-canvas-default: oklch(0.250 0.045 208);
    --color-canvas-subtle: oklch(0.150 0.030 210);
    --color-canvas-inset: oklch(0.150 0.030 210);
    --color-border-default: oklch(0.430 0.115 205);
    --color-border-muted: oklch(0.360 0.075 207);
    --color-fg-default: oklch(0.951 0.022 196);
    --color-fg-muted: oklch(0.780 0.165 198);
    --color-fg-subtle: oklch(0.660 0.190 200);
    --color-accent-fg: oklch(0.780 0.165 55);
    --color-accent-emphasis: oklch(0.700 0.180 55);
    --color-btn-text: oklch(0.951 0.022 196);
    --color-btn-bg: oklch(0.360 0.075 207);
    --color-btn-border: oklch(0.430 0.115 205);
    --color-btn-hover-bg: oklch(0.430 0.115 205);
    --color-btn-hover-border: oklch(0.500 0.155 203);
    --color-btn-primary-text: oklch(0.150 0.030 210);
    --color-btn-primary-bg: oklch(0.780 0.165 55);
    --color-btn-primary-border: oklch(0.700 0.180 55);
    --color-btn-primary-hover-bg: oklch(0.700 0.180 55);
    --color-btn-primary-hover-border: oklch(0.580 0.180 201);
    --color-neutral-muted: oklch(0.360 0.075 207 / 40%);
    --color-reactions-btn-hover-bg: oklch(0.360 0.075 207);
}
